<div class="context">
   <div class="login-container">
        <form>
            <h2>Login</h2>
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                <label for="email">Email</label>
              </div>
              
              <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                <label for="pwd">Password</label>
              </div>
              <div class="but">
                <button type="button" class="btn btn-primary">Login</button>
              </div>
        </form>

   </div>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >