<div class="parent">
    <div class="heading">
        <h1>Students Data</h1>
    </div>
    <div class="act row">
        <div class="col-lg-4 col-sm-12 mm">
            <input type="search" class="form-control" placeholder="Search..." [(ngModel)]="term"
                (keyup)="getFilteredStudents()">
        </div>
        <div class="col-lg-4 col-sm-12 ff mm">
            <select class="form-select" [(ngModel)]="column">
                <option value="" disabled selected hidden>Column</option>
                <option value="id">ID</option>
                <option value="name">Name</option>
                <option value="gender">Gender</option>
                <option value="class">Class</option>
            </select>
            <select class="form-select" [(ngModel)]="order">
                <option value="" disabled selected hidden>Order</option>
                <option value="asc"> Ascending</option>
                <option value="desc"> Descending</option>
            </select>
            <button class="btn btn-warning" (click)="getSortedStudents()">Sort</button>
        </div>
        <div class="col-lg-4 col-sm-12 ff mm">
            <select class="form-select" [(ngModel)]="limit">
                <option value="" selected hidden disabled>Limit</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
            <select class="form-select" [(ngModel)]="page">
                <option value="" selected hidden disabled>Page</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <button class="btn btn-warning" (click)="getPagedStudents()">Go</button>

        </div>
    </div>
    <div class="tbl table-responsive table-bordered table-striped">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Father Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Class</th>
                <th>Percentage</th>
                <th>Type</th>
                <th class="actions" colspan="3">Actions</th>
            </tr>
            <tr *ngFor="let student of students">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.fatherName}}</td>
                <td>{{student.email}}</td>
                <td>{{student.dob}}</td>
                <td>{{student.class}}</td>
                <td [ngStyle]="{color:student.percentage<35?'red':'green'}">{{student.percentage}}</td>
                <td>{{student.type}}</td>
                <td>
                    <button (click)="deleteStudent(student.id)" class="btn btn-danger actn">Delete</button>
                </td>
                <td>
                    <button class="btn btn-info actn" (click)="view(student.id)">View</button>
                </td>
                <td>
                    <button class="btn btn-warning actn">Edit</button>
                </td>

            </tr>

        </table>

    </div>

</div>