@media screen and (min-width:572px) {
    .parent {
        width: min(1200px, 95%);
        border: 2px solid rgb(43, 162, 226);
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: white;
        color: black;
    }

}

@media screen and (max-width:572px) {
    .parent {
        width: min(1200px, 95%);
        border: 2px solid rgb(43, 162, 226);
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        color: black;
    }
    

}
.heading{
    text-align: center;
    margin-bottom: 15px;
}

.tbl {
    text-align: center;
}
button{
    width: 70px;
}
.actions{
    padding: 12px;
}
.act{
    padding-bottom: 20px;
    width: 100%;
}
.ff{
    display: flex;
    justify-content: space-between;
}
.mm{
    margin-bottom: 10px;
}
select{
    margin-right: 5px;
}
tr>th:first-child,tr>td:first-child{
    position: sticky;
    z-index: 1;
    left: 0;
  }
  tr:first-child{
    position: sticky;
  }
  
  tr:nth-child(odd) td {
     background: white;
  }
  
  tr:nth-child(even) td {
     background: white;
  }