

<div class="parent row">
    <div class="top">
        <div class="card-1">
            <h1>Time: &nbsp; </h1>
            <h1>{{datetime | date:'shortTime'}}</h1>

        </div>
        <div class="card-2">
            <h1>Date: &nbsp; </h1>
            <h1>{{datetime | date:'shortDate'}}</h1>


        </div>
        <div class="card-3">
            <h1>Total Students: &nbsp;</h1>
            <h1>78</h1>
        </div>

    </div>
    <div class="middle">
        <div class="card-4">

        </div>
        <div class="card-5">

        </div>

    </div>
    <div class="bottom">
        <div class="card-6">
            <div *ngIf="true" class="q-center">
                <q> {{quotes[0]}} </q>
            </div>

        </div>

    </div>

</div>
